{{ define "main" }}
<main class="container mx-auto px-4 py-10">
    <div class="w-full">
        <h1 class="py-2 text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">De Anza Force
            Futsal
            09/10</h1>
        <h2 class="py-2 text-center text-lg tracking-tight text-gray-400 sm:text-2xl">Winter 2021/2022
        </h2>
    </div>
    <hr class="py-3" />

    <div class="w-full bg-gray-100 divide-y divide-gray-400">
        <div class="py-2">
            <h1 class="py-2 text-center text-2xl font-bold tracking-tight text-red-900 sm:text-4xl">Las Vegas CCS
            </h1>
            <h2 class="pb-2 text-center tracking-tight text-red-900 sm:text-2xl">Dec
                18-20, 2021</h2>
            <p class="text-center pb-2"><a class="underline"
                    href="https://generationsoccer.demosphere-secure.com/_registration">Payments Due
                    Now</a></p>
        </div>
        <div class="py-2">
            <p class="pb-2 text-center text-gray-900">
                This event is at <a href="https://goo.gl/maps/u3yhMu1HT7WTN7vy6">THE EXPO at World Market Center in Las
                    Vegas</a>.</p>
            <p class="pb-2 text-center text-gray-900">Games begin as early as 8AM on Saturday,
                Dec 18 so it's best to fly down Friday evening. Also, all games will end before 2PM on Monday, Dec 20.
            </p>
        </div>
        <div class="py-2">
            <h2 class="py-2 text-center text-lg font-bold tracking-tight text-red-900 sm:text-2xl">Lodging : Mandalay
                Bay
            </h2>
            <p class="text-center pb-2"><a class="underline"
                    href="https://unitedfutsal.us20.list-manage.com/track/click?u=7862ab8373019821c93001064&id=279b750123&e=6588d3cc84">Book
                    Now</a></p>
            <p class="text-center pb-2 text-medium text-gray-600">The room rate ends November 15th</p>
        </div>
    </div>
</main>
{{ end }}